@font-face{
  font-family: opensans;/* can be any Name you want*/
  src: url(TatumsHandwriting1-Regular.ttf) format("truetype");
}

/*Set document font*/
body{
  font-family: opensans;
  font-size: 3rem;
}
#blkbar{
  height: 2em;
  margin: -1rem;
  background-color: black;
}

/*header row flexbox*/
.headerRow  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
  margin-left: 3rem;
}
/* logo columns and navigation column*/
  .logo{
    width: 7em;
  }
  /* List flexbox and effects*/
  .listDiv{
    display: flex;
    align-items: flex-start;
  }
    ul li{
      display: inline;
      list-style: none;
      transition: all .2s ease-in-out; 
    }

    ul li:hover{
      font-size: larger;
    }
    a {
      color: #000000;
      text-decoration: none;
      background-color: transparent;
    }

/* CSS for picture and text*/
.pictureDiv{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2em;
}

#nebulaocean {
  opacity: 1;
  display: flex;
  justify-content: center;
  display: block;
  max-width: 90%;
  max-width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;

}
.textDiv {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.colorDiv{
  display: inline-block;
  background-color: rgb(233, 115, 19);
}

.pictureDiv:hover #nebulaocean{
  opacity: 0.7;
  
}
.pictureDiv:hover .textDiv{
  opacity: 1;

}
.footerDiv{
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  align-items: center;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 2rem;
  height: 2em;
  background-color: black;
}

i{
  color: white;
}