@font-face{
  font-family: opensans;/* can be any Name you want*/
  src: url(TatumsHandwriting1-Regular.ttf) format("truetype");
}

body{
  font-family: opensans;
  font-size: 2rem;
}
#blkbar{
  height: 75px;
  margin: -1rem;
  background-color: black;
}

.headerRow  {
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  align-items: center;
  margin-right: 3rem;
  margin-left: 3rem;
}
/*a h2 {
  opacity:0; /* Completely invisible. */
  transition:1s; /* A 1 second transition. */
}

/*a:hover h2 {
  opacity:1; /* Completely visible. */
}


.logo{
  
}
.listDiv{
  
  border: 3px solid black;
  font-family: opensans;
  /*font-family: 'Reenie Beanie', cursive;*/
  font-size: 3rem;
}

#nebulaocean{
  max-width: 100%;
}

body{
  

}

ul li{
  display:inline;
  
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

#piccont{
  max-width:53em;
}

#whtspace{
  min-height: 75px;
}
p{
  font-color: white;
}
.footerDiv{

}